body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
}


*,
*:after,
*:before {
	box-sizing: border-box;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ------------Header----------- */
.header {
	position: fixed;
	width: 100%;
	/* height: 80px; */

	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	background-color: #fff;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000000;
}

.header__name {
	font-size: 30px;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

.header__photo {
	font-size: 20px;
	font-weight: 300;
	color: rgb(0, 0, 0);
	line-height: 1;
	letter-spacing: 5px;
	margin-bottom: 15px;
}



/* Nav */
.nav {
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 30px;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;

	color: rgb(0, 0, 0);
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;

	opacity: 0;

	background-color: rgb(156, 146, 194);

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.nav__link:hover {
	color: rgb(156, 146, 194);
}

.nav__link:hover:after {
	opacity: 1;
}

/* ------------Nav toggle----------- */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    /* скрыли слово Меню в span */
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: transform .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: rgb(0, 0, 0);

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}


.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/* ------------Intro----------- */
.intro {
    display: flex;

    width: 100%;
    height: 100vh;

    /* background: url("img/header/header1.jpg") center no-repeat; */
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@keyframes bg-сhange {
    from {
      background-image: url('img/header/header1.jpg');
    }
    20% {
      background-image: url('img/header/header2.jpg');
    }
    40% {
      background-image: url('img/header/header3.jpg');
    }
    60% {
      background-image: url('img/header/header4.jpg');
    }
    80% {
      background-image: url('img/header/header5.jpg');
    }
    to {
      background-image: url('img/header/header6.jpg');
    }
  }

  #bg {
    animation: bg-сhange 20s infinite;
  }


/* ------------кнопка прокрутки------------ */
#upbutton {
    height: 70px;
    width: 70px;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }


/* ------------Btn----------- */
.btn {
    display: inline-block;
	vertical-align: top;
	padding: 8px 30px;

	border:  2px solid #fff;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	transition: background-color .1s linear, color .1s linear;
}
.btn:hover {
	background-color: #fff;
	color: rgb(123, 103, 196);
}





/* ------------Portfolio----------- */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__item {
    width: 33.33333%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.card__inner {
    position: relative;
    /* background-color: #95e1d3; */
}


.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
}



.card__text {
	width: 100%;
	font-size: 24px;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 2px black;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
}

.card__img {
	background: linear-gradient(to bottom, #515151, #5B66C6);
}

.card__item:hover .card__img img {
	opacity: .4;
}








/* ------------About----------- */

.section__about {
    width: 100%;
    /* height: 100vh; */
    height: auto;
    background: url("img/about_me.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.about__inner {
    width: 100%;
    max-width: 500px;
    height: auto;

    background-color: rgba(128, 91, 22, 0.5);

    padding: 40px 20px;

}
.about__title {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.about__text {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
}


/* ------------News----------- */
.news {
    display: flex;
    flex-wrap: wrap;
}
.section__subtitle {
	font-size: 30px;
	text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.news__item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
}
.news__title a{
	font-size: 24px;
	font-weight: 700;
	color: #5596E6;
	margin-bottom: 10px;
	text-decoration: none;

	transition: color .1s linear;
}
.news__title a:hover {
	color: rgb(123, 103, 196);
}
.news__text {
	font-size: 18px;
	font-weight: 400;
    line-height: 1.5;
}


/* ------------backstage----------- */
.backstage {
    display: flex;
    flex-wrap: wrap;
}





/* ------------clients----------- */
.section__clients {
    margin-bottom: 20px;
}
.clients_inner__1,
.clients_inner__3 {
    display: flex;
    justify-content: space-between;

}
.clients_inner__2 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.clients_inner__4 {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}



/* ------------Footer----------- */
.footer {
    padding-top: 40px;

    background-color: #363636;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}
.footer__social a {
    color: #fff;
}
.footer__social-content {
    font-size: 30px;
}
.footer__social-content a {
    margin: 0 5px;
    transition: .2s linear;
}
.footer__social-content a:hover {
    color: rgb(123, 103, 196);
}
.tel {
    font-weight: 700;
    transition: .2s linear;
}
.tel:hover {
    color: rgb(123, 103, 196);
}
.copyright {
    padding: 0 0 20px;
    font-size: 10px;
}





/* ------------Медиазапросы----------- */


@media (max-width:990px) {
	.nav {
		display: none;
        width: 100%;

        position: absolute;
        margin-top: 0;
        top: 100%;
        left: 0;
        background: #fff;

        text-align: center;
	}

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 10px 20px;
    }

    .nav-toggle {
        display: block;
    }

    /* portfolio */
    .card__item {
        width: 50%;
        /* max-width: 410px; */
        margin-bottom: 30px;
    }
    .card__text {
        font-size: 18px;
    }


    /* clients */
    .clients {
        display: none;
    }
}


@media (max-width:575px) {
    /* .intro {
        min-height: 650px;
    } */
    .news__item {
        width: 100%;
        padding: 0;
}





@media (max-width: 320px) {

    .header__name {
        padding-top: 15px;
		font-size: 18px;
		line-height: 1.2;
	}

	.header__photo {
		font-size: 14px;
	}

    #upbutton {
        height: 50px;
        width: 50px;
        bottom: 10px;
        right: 10px;
    }

    .section__subtitle {
        font-size: 20px;
    }


    /* portfolio */
    .card__text {
        font-size: 16px;
    }
    .card__item {
        width: 100%;
        /* max-width: 410px; */
        margin-bottom: 30px;
    }



    /* about */

    .section__about {
        background-image: none;
        text-align: center;

    }
    .about__title {
        font-size: 20px;

    }
    .about__text {
        font-size: 14px;
    }


    /* News */
    .news__item {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .news__title a {
        font-size: 18px;
    }
    .news__text {
        font-size: 14px;
    }

    /* backstage */
    .backstage__item {
        width: 100%;
        padding: 0 0 5px;
    }

    /* clients */
    .clients {
        display: none;
    }
}}